language: elixir
elixir:
  - 1.2.6
  - 1.3.4
  - 1.4.5
otp_release:
  - 18.2.1
  - 19.3
  - 20.0
matrix:
  exclude:
    - elixir: 1.2.6
      otp_release: 20.0
    - elixir: 1.3.4
      otp_release: 20.0
sudo: false
before_script:
  - mix deps.get --only test
after_script:
  - cd $TRAVIS_BUILD_DIR
  - mix deps.get --only docs
  - MIX_ENV=docs mix docs
